<mat-toolbar class="toolbarGen whiteText">
  <button mat-icon-button (click)="sideMenuToggle(sideMenu)">
    <mat-icon>menu</mat-icon>
  </button>
  <span> Gen Test </span>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer opened="false" mode="over" #sideMenu class="sideMenu">
    <mat-list *ngFor="let item of routesLinks">
      <mat-list-item
        class="whiteText"
        [routerLink]="item.route"
        routerLinkActive="active"
        (click)="sideMenuToggle(sideMenu)"
      >
        {{ item.title }}
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
